# data
data/*.txt
data/*.o
data/bem_generate
bem_data/*
data_pro1804/*

# execution file
hmat_div
hmat_div_direct
hmat_div_array
hmat_div_cilk
hmat_div_omp
hmat_div_BCT_cilk_list_reducer
hmat_div_BCT_cilk_lock
hmat_div_BCT_cilk_malloc
hmat_div_CT_cilk_parByLevel
hmat_div_cpp
hmat_array_filling
hmat_array_filling_wBCT
hmat_array_filling_MPI
hmat_array_filling_dynamic
hmat_sc

# bash & jobscript
jobscript*
mpi_jobscript*
vtune*
*.optrpt